* {
  box-sizing: border-box;
}

h1{
  color: $hhcii-blueOscuro;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
  font-family: 'Fantasy', serif;
  font-size: 6rem;
}

a {
  text-decoration: none;
  font-weight: normal;
  transition: font-weight 0.3s;
  color: $hhcii-blueTenis;
}

a:hover {
  font-weight: bold;
  color: $hhcii-blueOscuro;
}

.btn-primary {
  background-color: $hhcii-blueTenis;
  color: $hhcii-white;
}

.btn-primary:hover {
  background-color: $hhcii-blueOscuro;
  color: $hhcii-white;
}

.main-content {
  display: grid;
  place-items: center;
  padding: 2rem;
}

@supports not (display: grid) {
  .main-content {
    display: block;
    padding: 2rem;
  }
}

.title {
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
}

.subtitle {
  color: #718096;
  margin-top: 0.5rem;
}
