/* Header y Footer*/
.footer {
  background-color: $hhcii-white;
  text-align: center;
  margin-top: 3.5rem;
}

.footer__text {
  margin-bottom: 20px;
  color: #718096;
  font-size: 0.875rem;
}

.footer__content,
.header__content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 0 6rem;
}

.footer__logo,
.header__logo {
  text-align: center;
}

.footer__nav,
.header__nav {
  text-align: center;
}

.logo {
  font-size: 1.5rem;
  color: #4a5568;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-links li {
  padding: 0.5rem 2rem;
  color: $hhcii-blueTenis;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  color: $hhcii-blueTenis;
  font-size: 1.25rem;
}

/* Versión alternativa para navegadores que no soportan CSS Grid */
@supports not (display: grid) {

  .footer__content,
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav,
  .header__nav {
    margin-top: 10px;
  }
}

.footer__social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icons li {
  display: inline-block;
  margin-right: 10px;
}

/* Media queries para tablet */
@media screen and (max-width: $tabletMaxWidth) {

  .footer__content,
  .header__content {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 1rem 2rem;
  }
}

/* Media queries para móvil */
@media screen and (max-width: $movilMaxWidth) {

  .footer__content,
  .header__content {
    margin: 1rem 1rem;
  }

  .nav-links {
    display: block;
    text-align: center;
  }

  .nav-links li {
    display: block;
    margin-bottom: 10px;
  }
}