<footer class="footer">
    <p class="footer__text">Si deseas apuntarte al torneo manda tu solicitud a torneodetenis@uoc.pec2</p>

    <div class="footer__content">
        <div class="footer__logo"><a href="index.html">LOGO</a></div>

        <nav class="footer__nav">
            <ul class="nav-links">
                <li><a href="index.html">Portada</a></li>
                <li><a href="participantes.html">Participantes</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <ul class="footer__social-icons social-icons">
            <li><a href=""><i class="fab fa-google"></i></a></li>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</footer>