<header>
    <div class="text-center my-6 mx-24 grid grid-cols-1 md:grid-cols-3 gap-6 items-center ">
        <div class="font-bold text-primary hover:text-secondary transition-font duration-300"><a href="index.html">LOGO</a></div>
        <div></div>
        <nav class="hidden md:block ">
            <ul class="flex justify-center font-bold space-x-20 text-primary transition-font duration-300">
                <li><a class="hover:text-secondary" href="participantes.html">PARTICIPANTES</a></li>
                <li><a class="hover:text-secondary" href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</header>